﻿@{ ViewBag.Title = "Home Page"; }
@model Jokes.Models.Joke
<head>
    <link href="@Url.Content("~/Content/slider.css")" rel="stylesheet" type="text/css" />
</head>

<div class="jumbotron" align="center">
    <!--
    <h2>Recommending Jokes</h2>
    <p class="lead text-center">This is a simple application recommending jokes to users based on their rating and user preferences.</p>
    <!-- <p><a href="https://www.fi.muni.cz/~xpelanek/PV254/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->

    <p class="joke-content">
        @{ var myHtmlString = new HtmlString(ViewBag.Content);}
        @myHtmlString
    </p>

    <br><br />

    @using (Html.BeginForm("VoteCast", "Home", FormMethod.Post)) {
        @Html.HiddenFor(model => model.Content);
        @Html.HiddenFor(model => model.RecommendedBy);
        <hr />
        <p class="text-secondary">Please, rate the current joke. It will help us show you jokes you like better.</p>
        <label class="text-secondary">-10</label>
        @Html.TextBoxFor(model => model.CurrentRating, null, new { type = "range", min = "-10", max = "10", @class = "slider", id = "voteSlider" })
        <label class="text-secondary">10</label>
        <div class="btn btn-light ml-3 mb-1" id="vote">0</div>
        <input value="Vote" type="submit" class="btn btn-dark ml-1 mb-1" />
    }
    <br><br />
    @Html.ActionLink("Random »", "GetNewRandomJoke", "Home", new { id = Model.Id }, new { @class = "btn btn-info btn-lg" })
    @Html.ActionLink("Recommend »", "GetNewRecommendedJoke", "Home", new { id = Model.Id }, new { @class = "btn btn-warning btn-lg" })
</div>

<script>
    var slider = document.getElementById("voteSlider");
    var output = document.getElementById("vote");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
        output.innerHTML = this.value;
        
        var buttonShade = 'btn-light';
        if (this.value < -3) {
            buttonShade = 'btn-danger';
        } else if (this.value > 3) {
            buttonShade = 'btn-success';
        }
        setShade(output, buttonShade);
    }

    output.onclick = function () {
        // Reset rating
        slider.value = 0;
        this.innerHTML = 0;        
        setShade(this, 'btn-light');
    }

    function resetShade(button) {
        console.log("Reset shade");
        button.classList.remove('btn-light', 'btn-danger', 'btn-success');
    }

    function setShade(button, shadeClass) {        
        resetShade(button);
        console.log("Set shade");
        button.classList.add(shadeClass);
    }
</script>